@font-face{
  font-family: "Pixel font";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    font-family: "Pixel font";
    margin: 0;
    padding: 0;
}

#graphicPart
{
    height: 80%;
    background-color: blue;
    position: relative;
}

#shell
{
    height: 20%;
    margin: 0;
    background-color: black;
    color : rgb(0,255,0);
    position: relative;
}

.shell-content
{
    position: absolute;
    padding: 30px;
    width : calc(100% - 60px);
}

.shell-content input
{
    font-family: "Pixel font";
    font-size : 20px;
    background-color: transparent;
    color : rgb(0,255,0);
    border : none;
    padding-top: 10px;
    width : 100%;
}

#cmdHistoryList{
    margin: 0;
    padding : 0;
    display: none;
}

#cmdHistoryList li{
    display: none;
    list-style-type: none;
    height: 25px;
    font-size : 20px;
    padding-top: 10px;
}

.shell-content input:focus
{
   outline: none;
}

#turtle
{
    width : 10px;
    z-index : 100;
    height: 10px;
    background-color: white;
    position: absolute;
}

.turtle-trace{
    position: absolute;
    background-color: white;
    width: 2px;
}