@font-face{
  font-family: "Pixel font";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    font-family: "Pixel font";
    margin: 0;
    padding: 0;
}

#graphicPart
{
    height: 80%;
    background-color: blue;
}

#shell
{
    height: 20%;
    margin: 0;
    background-color: black;
    color : rgb(0,255,0);
    position: relative;
}

.shell-content
{
    position: absolute;
    padding: 30px;
    width : calc(100% - 60px);
}

.shell-content input
{
    font-family: "Pixel font";
    font-size : 20px;
    background-color: transparent;
    color : rgb(0,255,0);
    border : none;
    width : 100%;
}

.shell-content input:focus
{
   outline: none;
}

